#test-check1 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.css_chackbox {
    cursor: pointer;
}
.css_chackbox:after {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/checkbox-2.png);
    position: relative;
    top: 3px;
    margin-left: 15px;
}
#test-check1:checked + .css_chackbox:after {
    background-position: 0 -17px;
}
.css_chackbox:hover:after {
    background-position: 0 -34px;
}
#test-check1:checked + .css_chackbox:hover:after {
    background-position: 0 -51px;
}
